body {
	background-image: url("https://cdn.pixabay.com/photo/2017/04/05/01/20/wood-2203740_1280.jpg");
}
.header {
  padding: 5px;
  font-family: 'Cookie', cursive;
  background: #000000;
  color: #ffffff;
  text-align:center;
  height: 40px;
}

.logo {
	float:left;
	width: 40px;
}

.navup {
	position: relative;
	top: 10px;
}

.numer {
	text-align:right;
	margin-right: 250px;
	position:relative;
	bottom:5px;
}

a {
	color:#ffffff;
	text-align: center;
	padding-left: 1.4em;
}

a:hover {
	color: yellow;
}

p {
	margin: 0;
	font-size: 15px;
}


.slider {
	background: blue;
	height: 160px;
	background-color: #000000;
	background-image: url("https://cdn.pixabay.com/photo/2017/12/09/08/18/pizza-3007395_1280.jpg");
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: right; 
	font-family: 'Roboto', sans-serif;

}

.sliderp {
	color: #ffffff;
	margin-left:30px;
	position:relative;
	top: 40px;
}

.line {
	background-color: #ffffff;
	height: 3px;
	width: 50%;
	margin-left:30px;
	position:relative;
	top:50px;
}

.button {
	margin-left:30px;
	border-color: #7FD7FF;
	color: #7FD7FF;
	background: none;
}

.button2 {
	border-color: #FFD77F;
	color: #FFD77F;
	background-color: #936c02;
}

button {
	position:relative;
	top: 60px;
	border-style: solid;
	border-width: 2px;
	height: 40px;
}

button:hover {
	background-color:#333333;
}

content {
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
}

.flex {
	display: flex;
	justify-content: space-around;
}

.pt1 {
	margin: 10px;
}

.content {
	border-color: #000000;
	border-style: solid;
	border-width: 4px;
	height: 100px;
	width: 40%;
	margin: 8px;
	margin-top:20px;
	margin-bottom:20px;
	background-size: 100%;
	background-position: center; 
	position:relative;
}

.text {
	margin: 2px;
	position: absolute;
	right: 0;
	bottom: 0;
}

.c1 {
	background-image: url("https://cdn.pixabay.com/photo/2016/05/24/13/29/olive-oil-1412361__340.jpg");
}

.c2 {
	background-image: url("https://cdn.pixabay.com/photo/2016/05/06/12/15/cook-1375788_960_720.jpg");	
}

.c3 {
	background-image: url("https://cdn.pixabay.com/photo/2020/02/10/18/31/motor-scooter-4837310_960_720.jpg");	
}

.pt2 {
	background-color: #000000;
	width: 100%;
	height: 450px;
}

.content2 {
	background: #000000;
	height: 420px;
	width: 30%;
	margin: 15px;
	text-align: center;
}

.content3 {
	max-width: 100%;
}
	
.footer {
  padding: 5px;
  font-family: 'Cookie', cursive;
  background: #000000;
  color: #ffffff;
  text-align:center;
  height: 30px;
}

.navdown {
	position: relative;
	top: 5px;
}